.banner {
  padding-top: 130px;
}
.title {
  padding: 30px 200px 0 200px;
  color: #1e293b;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}
.banner-paragraph {
  padding: 10px 200px 0 200px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #475569;
}
.app-logo {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 30px;
}
.banner-gradiant {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background: linear-gradient(#ffffff, #9fa1f4);
}
.banner-gradiant img:nth-child(2) {
  display: none;
}
.banner-gradiant img:nth-child(3) {
  margin-left: -290px;
}

@media (max-width: 380px) {
  .banner {
    padding-top: 90px;
  }
  .title {
    font-size: 22px;
    padding: 10px 18px;
  }
  .banner-paragraph {
    padding: 10px 18px;
    font-size: 16px;
  }
  .banner-gradiant {
    position: relative;
  }
  .banner-gradiant img:first-child {
    display: none;
  }
  .banner-gradiant img:nth-child(2) {
    display: block;
  }
  .banner-gradiant img:nth-child(3) {
    position: absolute;
    top: 26%;
    right: 5%;
    width: 180px;
    margin-left: 0px;
  }
}
