.contact-section {
  margin: 70px 0;
}
.contact-title {
  font-weight: 800;
  font-size: 36px;
  color: #1e293b;
  margin-top: 25px;
}
.contact-paragraph {
  padding: 25px 0;
  font-weight: 400;
  font-size: 20px;
  color: #475569;
}
.location {
  display: flex;
  gap: 32px;
  margin-top: 65px;
}
.location-content {
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  padding: 24px 70px 24px 24px;
}
.location-icon {
}
.location-country {
  font-weight: 800;
  font-size: 20px;
  color: #1e293b;
  margin-top: 24px;
}
.location-name {
  font-weight: 400;
  font-size: 16px;
  color: #1e293b;
  margin-top: 8px;
}
