.feature-section {
  padding-top: 50px;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 32px;
  margin-top: 40px;
}
.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #1e293b;
  margin-top: 20px;
}
.features-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  margin-top: 10px;
}
/* Responsive style */
@media (max-width: 380px) {
  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .features-description {
    padding: 0 20px;
  }
}
