.who {
  padding: 90px 0;
}
.who-title {
  font-weight: 800;
  font-size: 36px;
  color: #1e293b;
  margin-top: 25px;
}
.who-paragraph {
  width: 680px;
  padding: 25px 0;
  font-weight: 400;
  font-size: 20px;
  color: #475569;
}
.who-animie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  margin-top: 65px;
}
.who-content {
  border-left: 4px solid #e0e7ff;
  padding: 32px 24px;
  margin-bottom: 8px;
}
.who-animie h5 {
  font-weight: 700;
  font-size: 20px;
  color: #475569;
}
.who-animie p {
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  margin-top: 12px;
}
