<main>
  <section class="max-width banner">
    <div class="badge-width">
      <span class="badge">Design System For Gen Z</span>
    </div>
    <div class="title"><h1>Unleash Your Inner Design Sloth Today.</h1></div>
    <p class="banner-paragraph">
      Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Cras
      fermentum odio eu feugiat pretium nibh ipsum. Venenatis cras sed felis
      eget velit aliquet.
    </p>
    <div class="app-logo">
      <img src="/assets/image/ios.png" alt="" /><img
        src="/assets/image/os.png"
        alt=""
      />
    </div>
  </section>
  <section class="banner-gradiant">
    <div>
      <img src="/assets/image/Desktop.png" alt="" />
      <img src="/assets/image/MockUp.png" alt="" class="MockUp" />
    </div>
  </section>
</main>
