<main class="contact-section">
  <section class="main-width">
    <div>
      <span class="badge">Visit Us Anytime</span>
      <h5 class="contact-title">Our Office</h5>
      <p class="contact-paragraph">
        You can visit our office anytime but please don’t stalk us or don’t be
        creepy.
      </p>
    </div>
    <div class="location">
      <div class="location-content">
        <div class="location-icon">
          <img src="../assets/icon/location.png" alt="" />
        </div>
        <h5 class="location-country">Japan</h5>
        <p class="location-name">221b Banzai Street Tokyo, TO 77812</p>
      </div>
      <div class="location-content">
        <div class="location-icon">
          <img src="../assets/icon/location.png" alt="" />
        </div>
        <h5 class="location-country">USA</h5>
        <p class="location-name">221b Freedom Street New York, NY 21231</p>
      </div>
      <div class="location-content">
        <div class="location-icon">
          <img src="../assets/icon/location.png" alt="" />
        </div>
        <h5 class="location-country">Canada</h5>
        <p class="location-name">221b Maple Syrup Street Ottawa, OW 77847</p>
      </div>
      <div class="location-content">
        <div class="location-icon">
          <img src="../assets/icon/location.png" alt="" />
        </div>
        <h5 class="location-country">South Korea</h5>
        <p class="location-name">221b Samyang Street Gangnam, GM 22124</p>
      </div>
    </div>
  </section>
</main>
