<main class="main-width">
  <section id="" class="feature-section">
    <div class="badge-width">
      <span class="badge">Our Main Features</span>
    </div>
    <h5 class="common-title">Our Primary Features</h5>
    <p class="common-paragraph">
      Volutpat commodo sed egestas egestas fringilla phasellus. Tincidunt eget
      nullam non nisi. Nisi porta lorem mollis aliquam ut porttitor leo.
    </p>
  </section>
  <section><div id="featuresContainer" class="max-width"></div></section>
</main>
