<main class="statistics">
  <section class="max-width">
    <div class="statistics-home">
      <img src="../assets/icon/home.png" alt="" />
    </div>
    <h4 class="common-title">Work lazily and achieve the result you want.</h4>
    <p class="common-paragraph">
      Liquam id diam maecenas ultricies mi eget mauris pharetra et. Feugiat
      pretium nibh ipsum consequat nisl vel pretium lectus. Fermentum iaculis eu
      non diam.
    </p>
    <div class="statistics-count">
      <div class="statistics-border">
        <h5 class="statistics-title">420%</h5>
        <p class="statistics-des">Data Efficiency</p>
      </div>
      <div class="statistics-border">
        <h5 class="statistics-title">708+</h5>
        <p class="statistics-des">Conversion Rate</p>
      </div>
      <div class="statistics-border">
        <h5 class="statistics-title">1.82M</h5>
        <p class="statistics-des">AI LLM Scale</p>
      </div>
    </div>
  </section>
</main>
