<main class="testimonials-section">
  <section id="" class="main-width">
    <div class="badge-width">
      <span class="badge">Testimonials</span>
    </div>
    <h5 class="common-title">What People Say</h5>
    <p class="common-paragraph">
      You can visit our office anytime but please don’t stalk us or don’t be
      creepy.
    </p>
  </section>
  <section>
    <div id="testimonialsContainer" class="main-width"></div>
    <div>
      <button class="tes-btn">
        Load more <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </section>
</main>
