<main class="main-width who">
  <section>
    <div>
      <span class="badge">Who is it for?</span>
      <h5 class="who-title">What the procrastinators say</h5>
      <p class="who-paragraph">
        Mi ipsum faucibus vitae aliquet nec. At tempor commodo ullamcorper a
        lacus. Bibendum at varius vel pharetra vel.
      </p>
    </div>
    <div class="who-animie">
      <div>
        <div class="who-content">
          <h5>Convallis tellus id interdum velit</h5>
          <p>
            Est pellentesque elit ullamcorper dignissim cras. In pellentesque
            massa placerat duis ultricies.
          </p>
        </div>
        <div class="who-content">
          <h5>Id interdum velit laoreet id donec ultrices</h5>
          <p>
            Donec massa sapien faucibus et molestie ac feugiat sed. Congue
            mauris rhoncus aenean vel elit scelerisque.
          </p>
        </div>
        <div class="who-content">
          <h5>Sapien et ligula ullamcorper malesuada</h5>
          <p>
            Donec massa sapien faucibus et molestie ac feugiat sed. Congue
            mauris rhoncus aenean vel elit scelerisque.
          </p>
        </div>
      </div>
      <div>
        <img src="../assets/image/Frame.png" alt="" />
        <img src="../assets/image/Frame04.png" alt="" />
        <img src="../assets/image/Frame03.png" alt="" />
      </div>
    </div>
  </section>
</main>
